*{
    margin: 0px;
    padding: 0 px;
}
.content{
    margin: 30px;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  text-align: center;
}
h3{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 35px;
  font-style: normal;

}
h6{
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 80%;
    color: #EB2311;
}

p, a { 
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 80%;
} 

.navbar{
    background-color: #EB2311;
    height: 59px;   
}
.navbar__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.navbar__content img{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);  
}

.nav-left{
    display: flex;
    margin: 10px;

}
.nav-right{
    display: flex;
    margin: 10px;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 150px;
}

.button{
    background-color: #EB2311;
    padding: 15px;
    text-decoration: none;
    color: white;

}
.button_else{
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 80%;
    color: #EB2311;
    letter-spacing: -4%;
    text-decoration: none;
    border-bottom:solid #EB2311;
    padding-bottom: 5px;
}

.button__details{
    background-color: #EB2311;
    padding: 15px;
    text-decoration: none;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}

.header{
    display: flex;
}
.header__content{
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.date{
display: flex;
justify-content: flex-end;
}
.title_header{
    text-align: left;

}
.content__title{
    width: 90%;

}



.title__article{
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
  text-align: left;
  color: #EB2311;
  margin-bottom: 24PX;
}

.article{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    left: 50%;
    width: 690px;
    margin-bottom: 60px;
    margin-top: 72px;
}

.display{
     justify-content: center;
    margin-top: 32px;
    display: grid;
    gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
}

.article__content{
 justify-content: space-evenly;
    justify-items: start;
    margin: 30px;
    display: grid;
    gap: 20px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
}


.footer{
    background-color: #212121;
    height: 252px;
    width: 100%;
    padding-top:20px ;
    padding-bottom: 35px;

}

.footer__content{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.us__footer{
    display: flex;
    flex-direction: column;
}


.footer__title{
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text{
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column;
    align-items: flex-end;
    
    
}
.text p{
    text-align: left;
    width: 639px;
    margin-bottom: 16px;
}
